:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --link-color: #2196F3;
    --white-text-color: #FFFFFF;
    --primary-background: #FFFFFF;
    --secondary-background: #F5F4FA;
    --dark-background: #2F303A;
}

body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    color: var(--primary-text-color);
    background-color: var(--primary-background);
}

footer {
    background: var(--dark-background);
}

.link-logo {
    color: var(--link-color);
    text-decoration: none;
}

.footer-logo,
.logo {
    text-decoration: none;
    color: var(--primary-text-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.link,
.link-footer {
    text-decoration: none;
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.link.current {
    color: var(--link-color);
}

.address-nav:hover, 
.address-nav:focus,
.link:hover,
.link:focus,
.footer-nav:hover,
.footer-nav:focus,
.link-footer:hover,
.link-footer:focus {
    color: var(--link-color);
}

.address-nav,
.footer-nav {
    color: var(--secondary-text-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.hero {
    background: var(--dark-background);
    width: 1600px;
}

.hero-title {
    color: var(--white-text-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.hero-button {
    color: var(--white-text-color);
    cursor: pointer;
    font-family: inherit;
    background-color: var(--link-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
}

.feature-list .title {
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.feature-list .text {
    color: var(--secondary-text-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.work-list .title,
.our-team .title {
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
}

.our-team .name {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}

.our-team .description {
    font-family: 'Roboto';
    font-style: normal;
    color: var(--secondary-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}

.our-team .card {
    background-color: var(--primary-background);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.our-team {
    background: var(--secondary-background);
}

ul {
    list-style: none;
}

.footer-logo {
    color: var(--white-text-color);
}

.footer-address {
    color: var(--white-text-color);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.link-footer {
    color: var(--white-text-color);
}

.portfolio-card {
    background-color: var(--primary-background);
}

.card {
    text-decoration: none;
    background: var(--secondary-background);
}

.portfolio-button {
    background: var(--secondary-background);
    font-weight: 500;
    height: 38px;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    border: none;
    text-decoration: none;
    cursor: pointer;
    font-family: inherit;
    border-radius: 4px;
}

.portfolio-button:hover,
.portfolio-button:focus {
    color: var(--white-text-color);
    background-color: var(--link-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio .title {
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.portfolio .text {
    color: var(--secondary-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
}